root/projects/extensions/dotNET2/Alfresco/Web References/RepositoryWebService/repository-service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:cml="http://www.alfresco.org/ws/cml/1.0" xmlns:rep="http://www.alfresco.org/ws/service/repository/1.0" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:cms="http://www.alfresco.org/ws/model/content/1.0" xmlns:headers="http://www.alfresco.org/ws/headers/1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="repository-service" targetNamespace="http://www.alfresco.org/ws/service/repository/1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.alfresco.org/ws/headers/1.0" location="headers.xsd" />
  <wsdl:import namespace="http://www.alfresco.org/ws/cml/1.0" location="cml.xsd" />
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.alfresco.org/ws/service/repository/1.0">
      <xsd:element name="createStore">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="scheme" type="cms:StoreEnum" />
            <xsd:element name="address" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createStoreResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="createStoreReturn" type="cms:Store" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getStores">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getStoresResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="getStoresReturn" type="cms:Store" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="query">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="store" type="cms:Store" />
            <xsd:element name="query" type="cms:Query" />
            <xsd:element name="includeMetaData" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="queryResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="queryReturn" type="rep:QueryResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="queryChildren">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="node" type="cms:Reference" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="queryChildrenResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="queryReturn" type="rep:QueryResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="queryParents">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="node" type="cms:Reference" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="queryParentsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="queryReturn" type="rep:QueryResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="queryAssociated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="node" type="cms:Reference" />
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="association" type="rep:Association" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="queryAssociatedResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="queryReturn" type="rep:QueryResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fetchMore">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="querySession" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fetchMoreResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="queryReturn" type="rep:QueryResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="statements" type="cml:CML" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="updateReturn" type="rep:UpdateResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="describe">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="items" type="cms:Predicate" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="describeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="describeReturn" type="cms:NodeDefinition" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="get">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="where" type="cms:Predicate" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="getReturn" type="cms:Node" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="QueryResult">
        <xsd:sequence>
          <xsd:element name="querySession" nillable="true" type="xsd:string" />
          <xsd:element name="resultSet" type="cms:ResultSet" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="QueryResult" type="rep:QueryResult" />
      <xsd:complexType name="UpdateResult">
        <xsd:sequence>
          <xsd:element name="statement" type="xsd:string" />
          <xsd:element name="updateCount" nillable="true" type="cms:ResultSet" />
          <xsd:element name="source" nillable="true" type="cms:Reference" />
          <xsd:element name="destination" nillable="true" type="cms:Reference" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="UpdateResult" type="rep:UpdateResult" />
      <xsd:complexType name="Association">
        <xsd:sequence>
          <xsd:element name="associationType" type="cms:Name" />
          <xsd:element name="direction" type="rep:AssociationDirectionEnum" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Association" type="rep:Association" />
      <xsd:simpleType name="AssociationDirectionEnum">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="source" />
          <xsd:enumeration value="target" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="RepositoryFault">
        <xsd:sequence>
          <xsd:element name="errorCode" type="xsd:int" />
          <xsd:element name="message" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="RepositoryFault" type="rep:RepositoryFault" />
      <xsd:element name="QueryConfiguration" type="headers:QueryConfiguration" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Headers">
    <wsdl:documentation>Defines the SOAP headers used by this service.</wsdl:documentation>
    <wsdl:part name="QueryConfiguration" element="rep:QueryConfiguration" />
  </wsdl:message>
  <wsdl:message name="createStoreRequest">
    <wsdl:part name="parameters" element="rep:createStore" />
  </wsdl:message>
  <wsdl:message name="createStoreResponse">
    <wsdl:part name="parameters" element="rep:createStoreResponse" />
  </wsdl:message>
  <wsdl:message name="getStoresRequest">
    <wsdl:part name="parameters" element="rep:getStores" />
  </wsdl:message>
  <wsdl:message name="getStoresResponse">
    <wsdl:part name="parameters" element="rep:getStoresResponse" />
  </wsdl:message>
  <wsdl:message name="queryRequest">
    <wsdl:part name="parameters" element="rep:query" />
  </wsdl:message>
  <wsdl:message name="queryResponse">
    <wsdl:part name="parameters" element="rep:queryResponse" />
  </wsdl:message>
  <wsdl:message name="queryChildrenRequest">
    <wsdl:part name="parameters" element="rep:queryChildren" />
  </wsdl:message>
  <wsdl:message name="queryChildrenResponse">
    <wsdl:part name="parameters" element="rep:queryChildrenResponse" />
  </wsdl:message>
  <wsdl:message name="queryParentsRequest">
    <wsdl:part name="parameters" element="rep:queryParents" />
  </wsdl:message>
  <wsdl:message name="queryParentsResponse">
    <wsdl:part name="parameters" element="rep:queryParentsResponse" />
  </wsdl:message>
  <wsdl:message name="queryAssociatedRequest">
    <wsdl:part name="parameters" element="rep:queryAssociated" />
  </wsdl:message>
  <wsdl:message name="queryAssociatedResponse">
    <wsdl:part name="parameters" element="rep:queryAssociatedResponse" />
  </wsdl:message>
  <wsdl:message name="fetchMoreRequest">
    <wsdl:part name="parameters" element="rep:fetchMore" />
  </wsdl:message>
  <wsdl:message name="fetchMoreResponse">
    <wsdl:part name="parameters" element="rep:fetchMoreResponse" />
  </wsdl:message>
  <wsdl:message name="updateRequest">
    <wsdl:part name="parameters" element="rep:update" />
  </wsdl:message>
  <wsdl:message name="updateResponse">
    <wsdl:part name="parameters" element="rep:updateResponse" />
  </wsdl:message>
  <wsdl:message name="describeRequest">
    <wsdl:part name="parameters" element="rep:describe" />
  </wsdl:message>
  <wsdl:message name="describeResponse">
    <wsdl:part name="parameters" element="rep:describeResponse" />
  </wsdl:message>
  <wsdl:message name="getRequest">
    <wsdl:part name="parameters" element="rep:get" />
  </wsdl:message>
  <wsdl:message name="getResponse">
    <wsdl:part name="parameters" element="rep:getResponse" />
  </wsdl:message>
  <wsdl:message name="RepositoryFault">
    <wsdl:part name="fault" element="rep:RepositoryFault" />
  </wsdl:message>
  <wsdl:portType name="RepositoryServiceSoapPort">
    <wsdl:operation name="createStore">
      <wsdl:documentation>Creates a new repository store.</wsdl:documentation>
      <wsdl:input name="createStoreRequest" message="rep:createStoreRequest" />
      <wsdl:output name="createStoreResponse" message="rep:createStoreResponse" />
      <wsdl:fault name="RepositoryFault" message="rep:RepositoryFault" />
    </wsdl:operation>
    <wsdl:operation name="getStores">
      <wsdl:documentation>Retrieves a list of stores where content resources are held.</wsdl:documentation>
      <wsdl:input name="getStoresRequest" message="rep:getStoresRequest" />
      <wsdl:output name="getStoreResponse" message="rep:getStoresResponse" />
      <wsdl:fault name="RepositoryFault" message="rep:RepositoryFault" />
    </wsdl:operation>
    <wsdl:operation name="query">
      <wsdl:documentation>Executes a query against a store.</wsdl:documentation>
      <wsdl:input name="queryRequest" message="rep:queryRequest" />
      <wsdl:output name="queryResponse" message="rep:queryResponse" />
      <wsdl:fault name="RepositoryFault" message="rep:RepositoryFault" />
    </wsdl:operation>
    <wsdl:operation name="queryChildren">
      <wsdl:documentation>Executes a query to retrieve the children of the specified resource.</wsdl:documentation>
      <wsdl:input name="queryChildrenRequest" message="rep:queryChildrenRequest" />
      <wsdl:output name="queryChildrenResponse" message="rep:queryChildrenResponse" />
      <wsdl:fault name="RepositoryFault" message="rep:RepositoryFault" />
    </wsdl:operation>
    <wsdl:operation name="queryParents">
      <wsdl:documentation>Executes a query to retrieve the parents of the specified resource.</wsdl:documentation>
      <wsdl:input name="queryParentsRequest" message="rep:queryParentsRequest" />
      <wsdl:output name="queryParentsResponse" message="rep:queryParentsResponse" />
      <wsdl:fault name="RepositoryFault" message="rep:RepositoryFault" />
    </wsdl:operation>
    <wsdl:operation name="queryAssociated">
      <wsdl:documentation>Executes a query to retrieve associated resources of the specified resource.</wsdl:documentation>
      <wsdl:input name="queryAssociatedRequest" message="rep:queryAssociatedRequest" />
      <wsdl:output name="queryAssociatedResponse" message="rep:queryAssociatedResponse" />
      <wsdl:fault name="RepositoryFault" message="rep:RepositoryFault" />
    </wsdl:operation>
    <wsdl:operation name="fetchMore">
      <wsdl:documentation>Fetches the next batch of query results.</wsdl:documentation>
      <wsdl:input name="fetchMoreRequest" message="rep:fetchMoreRequest" />
      <wsdl:output name="fetchMoreResponse" message="rep:fetchMoreResponse" />
      <wsdl:fault name="RepositoryFault" message="rep:RepositoryFault" />
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:documentation>Executes a CML script to manipulate the contents of a Repository store.</wsdl:documentation>
      <wsdl:input name="updateRequest" message="rep:updateRequest" />
      <wsdl:output name="updateResponse" message="rep:updateResponse" />
      <wsdl:fault name="RepositoryFault" message="rep:RepositoryFault" />
    </wsdl:operation>
    <wsdl:operation name="describe">
      <wsdl:documentation>Describes a content resource.</wsdl:documentation>
      <wsdl:input name="describeRequest" message="rep:describeRequest" />
      <wsdl:output name="describeResponse" message="rep:describeResponse" />
      <wsdl:fault name="RepositoryFault" message="rep:RepositoryFault" />
    </wsdl:operation>
    <wsdl:operation name="get">
      <wsdl:documentation>Gets a resource from the repository.</wsdl:documentation>
      <wsdl:input name="getRequest" message="rep:getRequest" />
      <wsdl:output name="getResponse" message="rep:getResponse" />
      <wsdl:fault name="RepositoryFault" message="rep:RepositoryFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RepositoryServiceSoapBinding" type="rep:RepositoryServiceSoapPort">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createStore">
      <wsdlsoap:operation soapAction="http://www.alfresco.org/ws/service/repository/1.0/createStore" />
      <wsdl:input name="createStoreRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createStoreResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepositoryFault">
        <wsdlsoap:fault use="literal" name="RepositoryFault" namespace="http://www.alfresco.org/ws/service/repository/1.0" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getStores">
      <wsdl:documentation>Retrieves a list of stores where content resources are held.</wsdl:documentation>
      <wsdlsoap:operation soapAction="http://www.alfresco.org/ws/service/repository/1.0/getStores" />
      <wsdl:input name="getStoresRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getStoreResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepositoryFault">
        <wsdlsoap:fault use="literal" name="RepositoryFault" namespace="http://www.alfresco.org/ws/service/repository/1.0" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="query">
      <wsdl:documentation>Executes a query against a store</wsdl:documentation>
      <wsdlsoap:operation soapAction="http://www.alfresco.org/ws/service/repository/1.0/query" />
      <wsdl:input name="queryRequest">
        <wsdlsoap:header message="rep:Headers" part="QueryConfiguration" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="queryResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepositoryFault">
        <wsdlsoap:fault use="literal" name="RepositoryFault" namespace="http://www.alfresco.org/ws/service/repository/1.0" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryChildren">
      <wsdl:documentation>Executes a query to retrieve the children of the specified resource.</wsdl:documentation>
      <wsdlsoap:operation soapAction="http://www.alfresco.org/ws/service/repository/1.0/queryChildren" />
      <wsdl:input name="queryChildrenRequest">
        <wsdlsoap:header message="rep:Headers" part="QueryConfiguration" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="queryChildrenResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepositoryFault">
        <wsdlsoap:fault use="literal" name="RepositoryFault" namespace="http://www.alfresco.org/ws/service/repository/1.0" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryParents">
      <wsdl:documentation>Executes a query to retrieve the parents of the specified resource.</wsdl:documentation>
      <wsdlsoap:operation soapAction="http://www.alfresco.org/ws/service/repository/1.0/queryParents" />
      <wsdl:input name="queryParentsRequest">
        <wsdlsoap:header message="rep:Headers" part="QueryConfiguration" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="queryParentsResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepositoryFault">
        <wsdlsoap:fault use="literal" name="RepositoryFault" namespace="http://www.alfresco.org/ws/service/repository/1.0" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="queryAssociated">
      <wsdl:documentation>Executes a query to retrieve associated resources of the specified resource.</wsdl:documentation>
      <wsdlsoap:operation soapAction="http://www.alfresco.org/ws/service/repository/1.0/queryAssociated" />
      <wsdl:input name="queryAssociatedRequest">
        <wsdlsoap:header message="rep:Headers" part="QueryConfiguration" use="literal" />
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="queryAssociatedResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepositoryFault">
        <wsdlsoap:fault use="literal" name="RepositoryFault" namespace="http://www.alfresco.org/ws/service/repository/1.0" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="fetchMore">
      <wsdl:documentation>Fetches the next batch of query results.</wsdl:documentation>
      <wsdlsoap:operation soapAction="http://www.alfresco.org/ws/service/repository/1.0/fetchMore" />
      <wsdl:input name="fetchMoreRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="fetchMoreResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepositoryFault">
        <wsdlsoap:fault use="literal" name="RepositoryFault" namespace="http://www.alfresco.org/ws/service/repository/1.0" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:documentation>Executes a CML script to manipulate the contents of a Repository store.</wsdl:documentation>
      <wsdlsoap:operation soapAction="http://www.alfresco.org/ws/service/repository/1.0/update" />
      <wsdl:input name="updateRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepositoryFault">
        <wsdlsoap:fault use="literal" name="RepositoryFault" namespace="http://www.alfresco.org/ws/service/repository/1.0" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="describe">
      <wsdl:documentation>Describes a content resource.</wsdl:documentation>
      <wsdlsoap:operation soapAction="http://www.alfresco.org/ws/service/repository/1.0/describe" />
      <wsdl:input name="describeRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="describeResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepositoryFault">
        <wsdlsoap:fault use="literal" name="RepositoryFault" namespace="http://www.alfresco.org/ws/service/repository/1.0" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="get">
      <wsdl:documentation>Gets a resource from the respository.</wsdl:documentation>
      <wsdlsoap:operation soapAction="http://www.alfresco.org/ws/service/repository/1.0/get" />
      <wsdl:input name="getRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="RepositoryFault">
        <wsdlsoap:fault use="literal" name="RepositoryFault" namespace="http://www.alfresco.org/ws/service/repository/1.0" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RepositoryService">
    <wsdl:documentation>Provides read and write operations against a repository.</wsdl:documentation>
    <wsdl:port name="RepositoryService" binding="rep:RepositoryServiceSoapBinding">
      <wsdlsoap:address location="http://localhost:8080/alfresco/api/RepositoryService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>