projects/remote-api/source/wsdl/repository-service.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions name="alfresco"
   targetNamespace="http://www.alfresco.org/ws/1.0/repository" 
   xmlns:apachesoap="http://xml.apache.org/xml-soap" 
   xmlns:alfrep="http://www.alfresco.org/ws/1.0/repository" 
   xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
   xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
   xmlns:alftypes="http://www.alfresco.org/cms">
   <!-- ************************************** -->
   <!-- Copyright Alfresco Software, Inc. 2005 -->
   <!-- ************************************** -->
   <wsdl:import namespace="http://www.alfresco.org/cms" location="types.xsd"/>
   <wsdl:types>
      <schema elementFormDefault="qualified" targetNamespace="http://www.alfresco.org/ws/1.0/repository" xmlns="http://www.w3.org/2001/XMLSchema">
         <element name="getStores">
            <complexType>
               <sequence/>
            </complexType>
         </element>
         
         <element name="getStoresResponse">
            <complexType>
               <sequence>
                  <element name="getStoresReturn" type="alftypes:Store" minOccurs="1" maxOccurs="unbounded"/>
               </sequence>
            </complexType>
         </element>
         
         <complexType name="RepositoryFault">
            <sequence>
               <element name="code" type="xsd:int"/>
               <element name="message" nillable="true" type="xsd:string"/>
            </sequence>
         </complexType>
         <element name="RepositoryFault" type="alfrep:RepositoryFault"/>
         
      </schema>
   </wsdl:types>

   <wsdl:message name="getStoresRequest">
      <wsdl:part element="alfrep:getStores" name="parameters"/>
   </wsdl:message>

   <wsdl:message name="getStoresResponse">
      <wsdl:part element="alfrep:getStoresResponse" name="parameters"/>
   </wsdl:message>
   
   <wsdl:message name="RepositoryFault">
      <wsdl:part element="alfrep:RepositoryFault" name="fault"/>
   </wsdl:message>
   
   <!--  
   <wsdl:message name="Headers">
      <wsdl:part element="types:SecurityHeader" name="SecurityHeader"/>
   </wsdl:message>
   -->
   
   <wsdl:portType name="RepositoryServiceSoapPort">
      <wsdl:operation name="getStores">
         <wsdl:input message="alfrep:getStoresRequest" name="getStoresRequest"/>
         <wsdl:output message="alfrep:getStoresResponse" name="getStoreResponse"/>
         <wsdl:fault message="alfrep:RepositoryFault" name="RepositoryFault"/>
      </wsdl:operation>
   </wsdl:portType>
   
   <wsdl:binding name="RepositoryServiceSoapBinding" type="alfrep:RepositoryServiceSoapPort">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getStores">
            <wsdlsoap:operation soapAction="http://www.alfresco.org/ws/1.0/repository/getStores"/>
            <wsdl:input name="getStoresRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
         <wsdl:output name="getStoreResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
         <wsdl:fault name="RepositoryFault">
                <wsdlsoap:fault namespace="http://www.alfresco.org/ws/1.0/repository" use="literal" name="RepositoryFault"/>
            </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>

   <wsdl:service name="RepositoryService">
      <wsdl:port binding="alfrep:RepositoryServiceSoapBinding" name="RepositoryService">
         <wsdlsoap:address location="http://localhost:8080/web-client/remote-api/RepositoryService"/>
      </wsdl:port>
   </wsdl:service>
   
</wsdl:definitions>
