root/projects/extensions/dotNET2/Alfresco/Web References/ContentWebService/types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:cms="http://www.alfresco.org/ws/model/content/1.0" elementFormDefault="qualified" targetNamespace="http://www.alfresco.org/ws/model/content/1.0" version="0.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation>Alfresco Web Services for Content Management. Type Definitions - Draft.</xsd:documentation>
  </xsd:annotation>
  <xsd:simpleType name="Name">
    <xsd:annotation>
      <xsd:documentation>TODO: Define constraints</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="UUID">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Path">
    <xsd:annotation>
      <xsd:documentation>TODO: Define constraints</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="StoreEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="workspace" />
      <xsd:enumeration value="versionStore" />
      <xsd:enumeration value="user" />
      <xsd:enumeration value="search" />
      <xsd:enumeration value="http" />
      <xsd:enumeration value="system" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Store">
    <xsd:sequence>
      <xsd:element name="scheme" type="cms:StoreEnum" />
      <xsd:element name="address">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Reference">
    <xsd:sequence>
      <xsd:element name="store" type="cms:Store" />
      <xsd:element minOccurs="0" maxOccurs="1" name="uuid" type="cms:UUID" />
      <xsd:element minOccurs="0" maxOccurs="1" default="/" name="path" type="cms:Path" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ParentReference">
    <xsd:complexContent mixed="false">
      <xsd:extension base="cms:Reference">
        <xsd:group ref="cms:ChildAssociation" />
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:group name="ChildAssociation">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="associationType" type="cms:Name" />
      <xsd:element minOccurs="0" maxOccurs="1" name="childName" type="cms:Name" />
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="ClassDefinition">
    <xsd:sequence>
      <xsd:element name="name" type="cms:Name" />
      <xsd:group ref="cms:TextualDescription" />
      <xsd:element minOccurs="0" maxOccurs="1" name="superClass" type="cms:Name" />
      <xsd:element name="isAspect" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="properties" nillable="true" type="cms:PropertyDefinition" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="associations" nillable="true" type="cms:AssociationDefinition" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValueDefinition">
    <xsd:sequence>
      <xsd:element name="name" type="cms:Name" />
      <xsd:group ref="cms:TextualDescription" />
      <xsd:element name="dataType" type="cms:Name" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PropertyDefinition">
    <xsd:complexContent mixed="false">
      <xsd:extension base="cms:ValueDefinition">
        <xsd:sequence>
          <xsd:element default="false" name="mandatory" type="xsd:boolean" />
          <xsd:element default="false" name="readOnly" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="defaultValue" type="xsd:string" />
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AssociationDefinition">
    <xsd:sequence>
      <xsd:element name="name" type="cms:Name" />
      <xsd:group ref="cms:TextualDescription" />
      <xsd:element default="true" name="isChild" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="1" name="sourceRole" type="cms:RoleDefinition" />
      <xsd:element minOccurs="0" maxOccurs="1" name="targetRole" type="cms:RoleDefinition" />
      <xsd:element name="targetClass" type="cms:Name" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RoleDefinition">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="name" type="cms:Name" />
      <xsd:element minOccurs="0" maxOccurs="1" default="*" name="cardinality" type="cms:Cardinality" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NodeDefinition">
    <xsd:sequence>
      <xsd:element name="type" type="cms:ClassDefinition" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="aspects" type="cms:ClassDefinition" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:group name="TextualDescription">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="title" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="description" type="xsd:string" />
    </xsd:sequence>
  </xsd:group>
  <xsd:simpleType name="Cardinality">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="0..1" />
      <xsd:enumeration value="1" />
      <xsd:enumeration value="*" />
      <xsd:enumeration value="1..*" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:group name="AnonymousType">
    <xsd:sequence>
      <xsd:element name="type" type="cms:Name" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="aspects" type="cms:Name" />
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="Node">
    <xsd:sequence>
      <xsd:element name="reference" type="cms:Reference" />
      <xsd:group ref="cms:AnonymousType" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="properties" type="cms:NamedValue" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContentFormat">
    <xsd:sequence>
      <xsd:element name="mimetype">
        <xsd:annotation>
          <xsd:documentation>
    					TODO: MinOccurs = 0?
    					TODO: Define Constraints
    				</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="encoding">
        <xsd:annotation>
          <xsd:documentation>
    					TODO: MinOccurs = 0?
    					TODO: Define Constraints
    				</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1" />
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NamedValue">
    <xsd:sequence>
      <xsd:element name="name" type="cms:Name" />
      <xsd:element name="value" nillable="true" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="QueryLanguageEnum">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="lucene" />
      <xsd:enumeration value="xpath" />
      <xsd:enumeration value="cql" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Query">
    <xsd:sequence>
      <xsd:element name="language" type="cms:QueryLanguageEnum" />
      <xsd:element name="statement" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResultSet">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="rows" type="cms:ResultSetRow" />
      <xsd:element name="totalRowCount" type="xsd:long" />
      <xsd:element minOccurs="0" maxOccurs="1" name="metaData" type="cms:ResultSetMetaData" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResultSetRow">
    <xsd:sequence>
      <xsd:element name="rowIndex" type="xsd:long" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="columns" type="cms:NamedValue" />
      <xsd:element minOccurs="0" maxOccurs="1" name="score" type="xsd:float" />
      <xsd:element minOccurs="0" maxOccurs="1" name="node">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="cms:UUID" />
            <xsd:group ref="cms:AnonymousType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResultSetMetaData">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="valueDefs" type="cms:ValueDefinition" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="classDefs" type="cms:ClassDefinition" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Predicate">
    <xsd:choice>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="nodes" nillable="true" type="cms:Reference" />
      <xsd:sequence>
        <xsd:element minOccurs="0" name="store" nillable="true" type="cms:Store" />
        <xsd:element minOccurs="0" name="query" nillable="true" type="cms:Query" />
      </xsd:sequence>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="Version">
    <xsd:sequence>
      <xsd:element name="id" type="cms:Reference" />
      <xsd:element minOccurs="0" maxOccurs="1" name="created" type="xsd:dateTime" />
      <xsd:element minOccurs="0" maxOccurs="1" name="creator" type="xsd:string" />
      <xsd:element minOccurs="0" maxOccurs="1" name="label" type="xsd:string" />
      <xsd:element default="true" name="major" type="xsd:boolean" />
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="commentaries" type="cms:NamedValue" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VersionHistory">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="versions" type="cms:Version" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Category">
    <xsd:sequence>
      <xsd:element name="id" type="cms:Reference" />
      <xsd:group ref="cms:TextualDescription" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Classification">
    <xsd:sequence>
      <xsd:element name="classification" type="cms:Name" />
      <xsd:element name="rootCategory" type="cms:Category" />
      <xsd:group ref="cms:TextualDescription" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>